---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Section from "../components/Section.astro";
import CTA from "../components/CTA.astro";
import BadgesForTLCS from "../components/BadgesForTLCS.astro";

const headerTitle =
  "I've been there, I will help you unlock your own power to be confident and successful in motherhood.";

const headerDescription = [
  `Hi! I am Betsy Olsen.`,
  `I am a Certified Life Coach, through The Life Coach School. I deeply believe that we are all children of Heavenly Parents who love us and are aware of us and believe in us. Because of this we are infinitely worthwhile and enough for our children.`,
  `I know what it's like to feel so discouraged, unhappy, and desperate in parenting that you think your kids might be better off without you. Coaching helped me find the belief inside of me that this is the opposite of the truth.`,
  `Let me help you find the courage and the confidence to feel good in your parenting. How you feel really matters!`,
];

const sectionTitle = "I love working with moms who are ready to feel better.";
const sectionDescription = [
  `You come to me with just the slightest hope that maybe this will help. It’s fun for me to show you that the change isn’t as difficult or out of reach as you might think it is. You learn and understand the reason of WHY you feel so bad, and how to feel confident and successful. As you feel better, you become more of who you want to be.`,
  `I will work one-on-one with you, so you can open up completely and have a safe place to unload all that is weighing you down. I go through it all with you as you decide what you want to keep and what you don’t. I believe you have the answers inside of you, you just need someone to open up to and believe in you, when you don’t believe in yourself. I am that person. I am that safe space.`,
  `If this intrigues you and you’d like to know more, sign-up for a session with me. You will have time to tell me what’s going on for you. I’ll give you a personalized action that will help you right now.`,
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead />
    <style>
      hr {
        margin: 5rem;
        background-color: #ccc;
        height: var(--border-size-1);
      }
    </style>
  </head>
  <body>
    <Header
      title={headerTitle}
      imgSrc={"/images/mug-wall-closest.jpg"}
      description={headerDescription}
    />
    <main>
      <hr />
      <Section title={sectionTitle} description={sectionDescription} />
      <CTA
        title="BOOK YOUR SESSION NOW!"
        description=""
        imgSrc="/images/deniz-altindas-rocks-unsplash-200x300.jpg"
      />
      <BadgesForTLCS />
    </main>
    <Footer />
  </body>
</html>
