---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import BlogCard from "../components/BlogCard.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}"))
  // remove posts that are pre-published
  .filter(
    (a) => new Date(a.frontmatter.pubDate).valueOf() < new Date().valueOf()
  )
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  );
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
      }
      ul li time {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>
  <body>
    <div class="nav-box">
      <Nav />
    </div>
    <main>
      <h1>Emerging Bravely</h1>
      <h3>WITH BETSY OLSEN</h3>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <BlogCard post={post} />
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />

    <style>
      .nav-box {
        display: flex;
        padding: min(2rem, 4vw);
        padding-right: min(6rem, 4vw);
      }
      .nav-box > div {
        flex: 1;
      }
      :global(nav) {
        max-width: 560px;
        flex: 1;
      }
      h1,
      h3 {
        max-inline-size: none;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      h3 {
        font-size: 1rem;
        color: turquoise;
      }
      section ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: max(2rem, 4vw);
        gap: 1rem;
      }
      ul li {
        /* outline: 1px solid red; */
        max-inline-size: none;
        padding-inline-start: revert;
      }
    </style>
  </body>
</html>
