---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CTA from "../components/CTA.astro";
import BadgesForTLCS from "../components/BadgesForTLCS.astro";

const title =
  "Are you ready to feel better so you can be the mom, wife, and woman you imagined you'd be?";

const description = [
  `You've come to the right place.
I offer one-on-one coaching to help overwhelmed Latter-day Saint Moms feel better.`,
  `When you feel overwhelmed, extremely unhappy, and angry, it's hard to show up as who you really are.
With coaching, you will be able to feel better so you can be the mom, wife, and woman you know you want to be.`,
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <Header
      title={title}
      imgSrc={"./images/mug-leaves-and-breeze.jpg"}
      description={description}
    />
    <main>
			<CTA title={} description={} />
			<BadgesForTLCS />
		</main>
    <Footer />
  </body>
</html>
