---

---

<div class="wrapper">
  <div class="container">
    <a href="https://thelifecoachschool.com/"><img src="/images/tlcs_certified_coach_seal-640px-150x150.png" alt=""></a>
    <a href="https://thelifecoachschool.com/"><img src="/images/tlcs_logos.v6-02-150x150.png" alt=""></a>
    <a href="https://thelifecoachschool.com/"><img src="/images/tlcs_logos.v6-03-150x150.png" alt=""></a>
  </div>
</div>

<style>
  .wrapper {
    width: 100%;
    padding: 2rem;
    margin-top: 5rem;
    background-color: var(--gray-0);
  }
  .container {
    width: min(92vw, 600px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
