---
import NavLink from "./NavLink.astro";
import Paragraphs from "./Paragraphs.astro";
import Nav from "./Nav.astro";

let { title, description, imgSrc, imgSrcAlt } = Astro.props;
title = title.replace(/\n/g, "<br/>");
---

<header>
  <div class="mug" style={{ backgroundImage: `url("${imgSrc}")` }}>
    <a href="/">
      <img src="./images/white-text-logo.png" />
    </a>
  </div>
  <div class="body">
    <Nav />

    <h2 set:html={title} />
    <div class="description">
      <Paragraphs text={description} />
    </div>
  </div>
</header>

<style>
  header {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  nav {
    font-family: "Open Sans", "Arial", Sans-serif;
  }

  .mug {
    flex: 2;
    min-width: 200px;
    height: min(800px, 160vw);
    background-position: center center;
    background-size: cover;
  }
  .mug img {
    padding-top: 1rem;
    width: 50%;
    margin: auto;
  }

  .body {
    flex: 3;
    padding: min(2rem, 4vw);
  }
  .body h2 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
</style>
