---
import NavLink from "./NavLink.astro";
import Paragraphs from "./Paragraphs.astro";
const { title, description, imgSrc, imgSrcAlt } = Astro.props;
---

<header>
  <div class="mug" style={{ backgroundImage: `url("${imgSrc}")` }}>
    <a href="/">
      <img src="./images/white-text-logo.png" />
    </a>
  </div>
  <div class="body">
    <nav>
      <NavLink href="/">Home</NavLink>
      <NavLink href="/about-me">About Me</NavLink>
      <NavLink href="/work-with-me">Work With Me</NavLink>
      <NavLink href="/blog">Blog</NavLink>
      <!-- <NavLink href="https://twitter.com/bestyolsen" target="_blank">Twitter</NavLink> -->
    </nav>
    <h2>{title}</h2>
    <div class="description">
      <Paragraphs text={description} />
    </div>
  </div>
</header>

<style>
  header {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .mug {
    flex: 2;
    min-width: 200px;
    height: min(800px, 160vw);
    background-position: center center;
    background-size: cover;
  }
  .mug img {
    padding-top: 1rem;
    width: 50%;
    margin: auto;
  }

  .body {
    flex: 3;
    padding: min(2rem, 4vw);
  }
  .body h2 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .body :global(p) {
    padding: 1rem;
  }
</style>
