---
import NavLink from "./NavLink.astro";
---

<nav>
  <NavLink href="/">Home</NavLink>
  <NavLink href="/about-me">About Me</NavLink>
  <NavLink href="/work-with-me">Work With Me</NavLink>
  <NavLink href="/blog">Blog</NavLink>
  <!-- <NavLink href="https://twitter.com/bestyolsen" target="_blank">Twitter</NavLink> -->
</nav>
